html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

header, nav {
  display: block
}

[hidden] {
  display: none
}

a {
  background-color: transparent
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

html input[disabled] {
  cursor: default
}

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

* {
  box-sizing: border-box
}

:after, :before {
  box-sizing: border-box
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: Circular, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #5c5c5c;
  background-color: #fff
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #c9b083;
  text-decoration: none
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

[role=button] {
  cursor: pointer
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: Circular, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: inherit
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 26px;
  margin-bottom: 13px
}

.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 13px;
  margin-bottom: 13px
}

.h1, h1 {
  font-size: 41px
}

.h2, h2 {
  font-size: 34px
}

.h3, h3 {
  font-size: 28px
}

.h4, h4 {
  font-size: 20px
}

.h5, h5 {
  font-size: 16px
}

.h6, h6 {
  font-size: 14px
}

p {
  margin: 0 0 13px
}

.page-header {
  padding-bottom: 12px;
  margin: 52px 0 26px;
  border-bottom: 1px solid #eee
}

ul {
  margin-top: 0;
  margin-bottom: 13px
}

ul ul {
  margin-bottom: 0
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px
}

.container:after, .container:before {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

@media (min-width:768px) {
  .container {
    width: 752px
  }
}

@media (min-width:992px) {
  .container {
    width: 972px
  }
}

@media (min-width:1300px) {
  .container {
    width: 1172px
  }
}

input[type=search] {
  box-sizing: border-box
}

input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  line-height: normal
}

input[type=file] {
  display: block
}

input[type=range] {
  display: block;
  width: 100%
}

input[type=checkbox]:focus, input[type=file]:focus, input[type=radio]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

input[type=search] {
  -webkit-appearance: none
}

input[type=checkbox][disabled], input[type=radio][disabled] {
  cursor: not-allowed
}

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

body {
  -webkit-tap-highlight-color: rgba(201, 176, 131, .3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a {
  font-weight: 500;
  transition-property: color, border-color, background-color;
  transition-duration: .4s
}

a:active {
  outline: 0
}

::-moz-selection {
  background: rgba(224, 197, 146, .3)
}

::selection {
  background: rgba(224, 197, 146, .3)
}

::-moz-selection {
  background: rgba(224, 197, 146, .3)
}

@font-face {
  font-family: Circular;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/circular-black.ttf) format("truetype")
}

@font-face {
  font-family: Circular;
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/circular-blackitalic.ttf) format("truetype")
}

@font-face {
  font-family: Circular;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/circular-bold.ttf) format("truetype")
}

@font-face {
  font-family: Circular;
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/circular-bolditalic.ttf) format("truetype")
}

@font-face {
  font-family: Circular;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/circular-book.ttf) format("truetype")
}

@font-face {
  font-family: Circular;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/circular-bookitalic.ttf) format("truetype")
}

@font-face {
  font-family: Circular;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/circular-medium.ttf) format("truetype"),
}

@font-face {
  font-family: Circular;
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/circular-mediumitalic.ttf) format("truetype")
}

.container {
  width: 100%
}

@media (min-width:768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1354px
  }
}

@media (min-width:992px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1354px
  }
}

@media (min-width:1300px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
    max-width: 1418px
  }
}

@media (min-width:1600px) {
  .container {
    padding-left: 128px;
    padding-right: 128px;
    max-width: 1546px
  }
}

@media (min-width:2000px) {
  .container {
    padding-left: 128px;
    padding-right: 128px;
    max-width: 1546px
  }
}

.h1, h1 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 26px
}

@media (min-width:768px) {
  .h1, h1 {
    font-size: 36px
  }
}

@media (min-width:992px) {
  .h1, h1 {
    font-size: 36px
  }
}

@media (min-width:1300px) {
  .h1, h1 {
    font-size: 48px
  }
}

@media (min-width:1600px) {
  .h1, h1 {
    font-size: 48px
  }
}

@media (min-width:2000px) {
  .h1, h1 {
    font-size: 60px
  }
}

.h2, h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 23px
}

@media (min-width:768px) {
  .h2, h2 {
    font-size: 29px
  }
}

@media (min-width:992px) {
  .h2, h2 {
    font-size: 29px
  }
}

@media (min-width:1300px) {
  .h2, h2 {
    font-size: 36px
  }
}

@media (min-width:1600px) {
  .h2, h2 {
    font-size: 36px
  }
}

@media (min-width:2000px) {
  .h2, h2 {
    font-size: 43px
  }
}

.h3, h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 21px
}

@media (min-width:768px) {
  .h3, h3 {
    font-size: 25px
  }
}

@media (min-width:992px) {
  .h3, h3 {
    font-size: 25px
  }
}

@media (min-width:1300px) {
  .h3, h3 {
    font-size: 30px
  }
}

@media (min-width:1600px) {
  .h3, h3 {
    font-size: 30px
  }
}

@media (min-width:2000px) {
  .h3, h3 {
    font-size: 34px
  }
}

.h4, h4 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 19px
}

@media (min-width:768px) {
  .h4, h4 {
    font-size: 22px
  }
}

@media (min-width:992px) {
  .h4, h4 {
    font-size: 22px
  }
}

@media (min-width:1300px) {
  .h4, h4 {
    font-size: 24px
  }
}

@media (min-width:1600px) {
  .h4, h4 {
    font-size: 24px
  }
}

@media (min-width:2000px) {
  .h4, h4 {
    font-size: 26px
  }
}

.h5, h5 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px
}

@media (min-width:768px) {
  .h5, h5 {
    font-size: 19px
  }
}

@media (min-width:992px) {
  .h5, h5 {
    font-size: 19px
  }
}

@media (min-width:1300px) {
  .h5, h5 {
    font-size: 20px
  }
}

@media (min-width:1600px) {
  .h5, h5 {
    font-size: 20px
  }
}

@media (min-width:2000px) {
  .h5, h5 {
    font-size: 20px
  }
}

.h6, h6 {
  margin: 0;
  letter-spacing: .05em;
  font-family: Circular, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.625
}

@media (min-width:992px) {
  .h6, h6 {
    font-size: 14px
  }
}

.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  border-bottom: 2px solid transparent;
  text-decoration: none!important
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .AboutCols-imagesList {
    position: -webkit-sticky;
    position: sticky;
    top: 20vh
  }
}

@media (min-width:768px) {
  @supports ((position: -webkit-sticky) or (position:sticky)) {
    .ChefList-nav {
      position:-webkit-sticky;
      position: sticky;
      top: 130px;
      padding-bottom: 128px
    }
  }
}

.header {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  margin-right: inherit;
  z-index: 1000;
  text-transform: uppercase;
  font-size: 14px;
  transition: background-color 0.5s ease-in-out;
}

.header_bg {
  background-color: rgba(240, 240, 240, 0.90);
}

@media (min-width:992px) {
  .Header {
    padding-top: 32px;
    padding-bottom: 32px
  }
}

.Header:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity .2s;
  box-shadow: 0 0 80px rgba(0, 0, 0, .1)
}

.Header+.container {
  padding-top: 120px
}

@media (min-width:768px) {
  .Header+.container {
    padding-top: 140px
  }
}

@media (min-width:992px) {
  .Header+.container {
    padding-top: 220px
  }
}

.Header>.container {
  position: relative;
  z-index: 2
}

.Header-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.Header-logo {
  margin-right: auto;
  width: 150px;
  display: block;
  opacity: .75
}

@media (min-width:992px) {
  .Header-logo {
    margin: 0
  }
}

.Header-nav {
  margin: auto;
  font-size: 14px
}

@media (max-width:991px) {
  .Header-nav {
    display: none
  }
}

.Header-navList {
  list-style-type: none;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.Header-navItem:not(:first-child) {
  margin-left: 16px
}

.Header-navLink {
  color: #5c5c5c
}

.Header-navLink:focus {
  color: #5c5c5c
}

.Header-account {
  margin-right: 16px;
  text-transform: uppercase
}

@media (max-width:991px) {
  .Header-account {
    display: none
  }
}

.Header-accountLink {
  font-weight: 900!important;
  color: #5c5c5c
}

@media (min-width:768px) {
  @supports ((position: -webkit-sticky) or (position:sticky)) {
    .Identity-nav {
      position:-webkit-sticky;
      position: sticky;
      top: 130px;
      padding-bottom: 128px
    }
  }
}

@-webkit-keyframes loading-rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes loading-rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.Logo {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  background-image: url(https://schooleasypay.com.au/wp-content/uploads/2018/09/Citipointe-CC-Logo-2-PMSBlack_2018.png);
  background-size: cover
}

body>.container {
  width: auto;
  margin-bottom: 128px
}

body[class^=checkout] h1 {
  margin-bottom: 16px
}